<section class="root-content">
  <div class="container">
    <h1 class="title">
      Produto Nº: {{produto?.idProduto}}
    </h1>
    
    <form [formGroup]="editarForm" (submit)="onSubmit()">
      <div class="form-container">
        <mat-form-field appearance="outline" class="flex-item">
          <mat-label>Descrição</mat-label>
          <input matInput type="text" formControlName="descricao">
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="flex-item">
          <mat-label>Valor Unitario</mat-label>
          <input matInput formControlName="valorUnitario">
        </mat-form-field>
      </div>
    </form>

    <div class="btn-row">
      <button mat-raised-button color="primary" (click)="onSubmit()">Editar</button>
    </div>

  </div>
</section>