<section class="root-content">
  <div class="container">
    <h1 class="title">
      Vendas
    </h1>

    <div class="options">
      <button mat-raised-button color="primary" class="btn" (click)="toCadastrar()">
        Adicionar
      </button>
  
      <button mat-raised-button color="accent" class="btn" (click)="obterDadosExternos()">
        Carregar dados Externos
      </button>
    </div>

    <form [formGroup]="searchForm">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Pesquisar</mat-label>
        <input matInput formControlName="searchString" placeholder="Digite a descrição propduto ou o nome do cliente" type="text">
        <button mat-icon-button (click)="search()" matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <table mat-table [dataSource]="vendas">
      <!-- Id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Numero da Venda</th>
        <td mat-cell *matCellDef="let venda">{{venda.idVenda}}</td>
      </ng-container>

      <!-- Produto -->
      <ng-container matColumnDef="produto">
        <th mat-header-cell *matHeaderCellDef>Produto</th>
        <td mat-cell *matCellDef="let venda">{{venda.Produto.dscProduto}}</td>
      </ng-container>

      <!-- Quantidade -->
      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef>Qtde.</th>
        <td mat-cell *matCellDef="let venda">{{venda.qtdVenda}}</td>
      </ng-container>

      <!-- Valor Unitário -->
      <ng-container matColumnDef="vlrUnitario">
        <th mat-header-cell *matHeaderCellDef>Valor do Produto</th>
        <td mat-cell *matCellDef="let venda">{{venda.vlrUnitarioVenda | currency}}</td>
      </ng-container>
      
      <!-- Valor Total -->
      <ng-container matColumnDef="vlrTotal">
        <th mat-header-cell *matHeaderCellDef>Valor Total</th>
        <td mat-cell *matCellDef="let venda">{{venda.vlrTotalVenda | currency}}</td>
      </ng-container>

      <!-- Cliente -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let venda">{{venda.Cliente.nmCliente}}</td>
      </ng-container>

      <!-- Data Venda -->
      <ng-container matColumnDef="dthVenda">
        <th mat-header-cell *matHeaderCellDef>Data da Venda</th>
        <td mat-cell *matCellDef="let venda">{{venda.dthVenda | date:'dd/MM/yyyy HH:mm:ss'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let venda">
          <button mat-icon-button color="accent" (click)="toEditar(venda.idVenda)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="remover(venda.idVenda)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>

    </table>
  </div>
</section>
