@import '../../app.component.scss';

.container{
    width: 970px;
    height: max-content;

    display: flex;
    flex-direction: column;

    margin: 20px;

    >h1.title{
        font: 20px;
    }
}
