@import '../../app.component.scss';

.container{
    width: 970px;
    height: 110vh;

    display: flex;
    flex-direction: column;

    margin: 20px;

    >h1.title{
        font: 20px;
    }

    .form-container{
        display: flex;
        flex-direction: column;

        align-items: center;

        .flex-item{
            width: 75%;
        }
    }

    .btn-row{
        display: flex;
        flex-direction: row;

        justify-content: center;

    }

    .btn{
        width: max-content;
        margin-bottom: 20px;
    }

    .options{
        display: flex;
        flex-direction: row;
        gap: 10px;

        justify-content: end;
    }
}